<!-- menu.component.html -->

<div class="menu-bar">
  <div class="left-section">
    <h1><a routerLink="/">Casta FC</a></h1>
  </div>
  <div class="center-section">
    <ul>
      <li><a routerLink="/cataleg">Catàleg</a></li>
      <li><a routerLink="/condicions">Condicions</a></li>
      <li><a routerLink="/contacte">Contacte</a></li>
    </ul>
  </div>
  <div class="right-section">
    <ng-container *ngIf="emailService.email; else loginButton">
      <span>{{ emailService.email }}</span>
    </ng-container>
    <ng-template #loginButton>
      <a routerLink="/formulari" class="login-button">
        <i class="fas fa-sign-in-alt"></i> Iniciar Sessió
      </a>
    </ng-template>
  </div>
</div>

