<!-- menu.component.html -->

<div class="menu-bar">
  <div class="left-section">
    <h1><a routerLink="/">Casta FC</a></h1>
  </div>
  <div class="center-section">
    <ul>
      <li><a routerLink="/cataleg">Catàleg</a></li>
      <li><a routerLink="/condicions">Condicions</a></li>
      <li><a routerLink="/cistella">Cistella</a></li>
    </ul>
  </div>
  <div class="right-section">
    <ng-container *ngIf="emailService.isLoggedIn(); else loginButton">
      <div class="welcome-container">
        <span id="bienvenida">Benvingut:  {{ emailService.email }}</span>
        <button id="tancarSessio" (click)="logOut()">Cerrar Sesión</button>
      </div>
    </ng-container>
    <ng-template #loginButton>
      <a routerLink="/formulari" class="login-button">
        <i class="fas fa-sign-in-alt"></i> Registra't
      </a>
    </ng-template>
  </div>
</div>
