/* Estilo para la barra de menú */
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #757575; /* Color de fondo de la barra de menú (gris) */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 10px; /* Márgenes para separar la barra del borde de la pantalla */
}

/* Estilo para la sección izquierda del menú */
.left-section h1 {
  margin: 0;
  color: #fff; /* Color del texto (blanco) */
}

.left-section a {
  text-decoration: none;
}

/* Estilo para la sección central del menú */
.center-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center-section li {
  display: inline-block;
  margin-right: 30px; /* Más separación entre elementos del menú */
  transition: transform 0.3s, color 0.3s; /* Transiciones para el efecto de ampliación y cambio de color */
}

.center-section a {
  text-decoration: none;
  color: #fff; /* Color del texto (blanco) */
  font-weight: bold;
}

.center-section a:hover {
  color: #e7893c;
}

  /* Efecto de ampliación y cambio de color al pasar el ratón sobre un elemento del menú */
.center-section li:hover {
  transform: scale(1.1);
  color: #e7893c; /* Color de texto naranja al pasar el ratón sobre el elemento */
}

/* Estilo para la sección derecha del menú */
.right-section a {
  text-decoration: none;
  color: #fff; /* Color del texto (blanco) */
  background-color: #2ecc71; /* Color de fondo del botón de inicio de sesión */
  padding: 8px 15px;
  border-radius: 5px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  transition: background-color 0.3s; /* Transición para el cambio de color de fondo */
}

.right-section a:hover {
  background-color: #e74c3c; /* Color de fondo naranja al pasar el ratón sobre el botón de inicio de sesión */
}

.right-section i {
  margin-right: 5px;
}
