<head>
  <link href='https://fonts.googleapis.com/css?family=Gabarito' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Index</title>
</head>
<div class="menu-bar">
  <div class="left-section">
    <h1><a routerLink="/">Casta FC</a></h1>
  </div>
  <div class="center-section">
    <ul>
      <li><a routerLink="/cataleg">Catàleg</a></li>
      <li><a routerLink="/condicions">Condicions</a></li>
      <li><a routerLink="/contacte">Contacte</a></li>
    </ul>
  </div>
  <div class="right-section">
    <a routerLink="formulari_inici_sessio" class="login-button">
      <i class="fas fa-sign-in-alt"></i> Iniciar Sessió
    </a>
  </div>
</div>
