/* Estilo para la barra de menú */
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #757575;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* Estilo para la sección izquierda del menú */
.left-section h1 a{
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.left-section h1 a:hover {
  text-decoration: none;
  color: #e7893c
}

/* Estilo para la sección central del menú */
.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.center-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.center-section li {
  margin-right: 30px;
  transition: transform 0.3s, color 0.3s;
}

.center-section a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.center-section a:hover {
  color: #e7893c;
}

.center-section li:hover {
  transform: scale(1.1);
  color: #e7893c;
}

/* Estilo para la sección derecha del menú */
.right-section {
  display: flex;
  align-items: center;
}

.right-section a {
  text-decoration: none;
  color: #fff;
  background-color: #2ecc71;
  padding: 8px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.right-section a:hover {
  background-color: #e74c3c;
}

.right-section i {
  margin-right: 5px;
}

/* Estilo específico para el texto de bienvenida */
#welcome-container {
  display: flex;
  align-items: center;
}

#bienvenida {
  color: white;
  margin-right: 10px; /* Ajusta la separación entre el texto y el botón según sea necesario */
}

#tancarSessio {
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: #2ecc71;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#tancarSessio:hover {
  background-color: #e74c3c;
}
