<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <section>
    <div class='left'>
      <!--foto provisional-->
      <img [src]="imagePath" width="15%" alt="">
      <p>Ja tens un compte?<br><br><button class='btn1'><a href="FormulariInicisessio.html">Iniciar Sessió</a></button></p>
    </div>
  </section>
  <div class='right'>
    <h2>Crea un compte</h2>

    <label>Email:</label><br>
    <input [(ngModel)]="email" name="email" placeholder="Introduce el email" type='email' required>
    <br>
    <label>Contraseña:</label><br>
    <input [(ngModel)]="password" name="password" placeholder="Introduce la contraseña" type='password' required>
    <br><br>
    <button type="submit">Registrarse</button>
  </div>
</form>

