/* cataleg.component.css */

.catalogo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columna {
  width: 40%;
  margin: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.columna:hover {
  transform: scale(1.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.producto {
  text-align: center;
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 6px;
}

.producto p {
  margin-bottom: 4px;
}

.select-cantidad {
  width: 50px;
  margin-bottom: 4px;
}

button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff0000;
}

/* Estilo para el botón de disminuir cantidad */
input{
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  width: 50px;
  margin-bottom: 4px;
  transition: background-color 0.3s ease;
}

input:hover {
  background-color: #cc2d89;
}
/* cataleg.component.css */
