/* catalogo.component.css */
.catalogo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columna {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
