<app-menu></app-menu>



<div class="wrapper">
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
          <div class="inner">
            <p>Diligord</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat1">Quantitat</label>
              <select id="Quantitat1" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/511/511/)">
          <div class="inner">
            <p>Rocogged</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat2">Quantitat</label>
              <select id="Quantitat2" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
          <div class="inner">
            <p>Strizzes</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat3">Quantitat</label>
              <select id="Quantitat3" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
          <div class="inner">
            <p>Clossyo</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat4">Quantitat</label>
              <select id="Quantitat4" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/504/504/)">
          <div class="inner">
            <p>Rendann</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat5">Quantitat</label>
              <select id="Quantitat5" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
          <div class="inner">
            <p>Reflupper</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat6">Quantitat</label>
              <select id="Quantitat6" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
          <div class="inner">
            <p>Acirassi</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat7">Quantitat</label>
              <select id="Quantitat7" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
          <div class="inner">
            <p>Sohanidd</p>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
            <form action="Cistella.html" method="post">
              <label for="Quantitat8">Quantitat</label>
              <select id="Quantitat8" name="Quantitat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <!-- Puedes agregar más opciones aquí -->
              </select>
              <br>
              <input type="submit" value="Afageix a la cistella">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />


<app-footer></app-footer>
