<p>menu works!</p>
<div class="menu-bar">
  <div class="left-section">
    <h1><a href="Index.html">Casta FC</a></h1>
  </div>
  <div class="center-section">
    <ul>
      <li><a href="./app/condicions/condicions.component.html">Condicions</a></li>
      <li><a href="Formulari_Registre.html">Formulari</a></li>
      <li><a href="ContacteFormulari.html">Contacte</a></li>
      <li><a href="pagina_cataleg.html">Catàleg</a></li>
    </ul>
  </div>
  <div class="right-section">
    <a href="Formulari_Registre.html" class="login-button">
      <i class="fas fa-sign-in-alt"></i> Iniciar Sessió
    </a>
  </div>
</div>
