<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <section>
    <div class='left'>

      <h2>Log-In</h2>
      <br>
      <label>Email:</label><br>
      <input [(ngModel)]="email" name="email" placeholder="Introduce el email" type='email' required>
      <br>
      <label>Contraseña:</label><br>
      <input [(ngModel)]="password" name="password" placeholder="Introduce la contraseña" type='password' required>
      <br><br>
      <button type="submit">Iniciar sesión</button>
    </div>
  </section>
  <div class='right'>
    <!--foto provisional-->
    <img [src]="imagePath" width="15%" alt="">
    <p>Vols ser un Hooligan? Uneix-te a Nosaltres!! <br><br>
      <Button class='btn2'><a routerLink="/formulari"> Crear un compte</a></Button></p>
  </div>
</form>

