#body2 {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 20px auto;
}

h1 {
  color: #e7893c;
  margin-bottom: 20px; /* Aumentar el espaciado entre h1 y el contenido siguiente */
}

h2 {
  color: #e7893c;
  margin-top: 30px; /* Aumentar el espaciado entre h2 y el contenido anterior */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  color: #555;
}

/* Agregar estilos adicionales según sea necesario */
