<app-menu></app-menu>

<div #bodyElement id="body2">
  <h1 id="condicionesCompra">Condicions de Compra, Garantia i Devolució</h1>

  <h2>Condicions de Compra</h2>
  <p>A la nostra botiga, ens esforcem per oferir la millor experiència de compra possible. A continuació, es detallen les nostres condicions de compra:</p>
  <ul id="compra">
    <li>Els preus dels nostres productes estan clarament indicats al nostre lloc web.</li>
    <li>Acceptem pagaments segurs a través de diversos mètodes, com ara targetes de crèdit i PayPal.</li>
    <li>Els productes seran lliurats a l'adreça proporcionada pel client dins el termini estimat de lliurament.</li>
  </ul>

  <h2>Garantía de Productes</h2>
  <p>Ens enorgulleix la qualitat dels nostres productes. Tots els nostres productes estan recolzats per una garantia de satisfacció del client. Això vol dir que si no està satisfet amb la seva compra, farem tot el possible per solucionar-ho. La nostra garantia cobreix:</p>
  <ul id="garantia">
    <li>Defectes de fabricació.</li>
    <li>Productes malfets durant el transport.</li>
    <li>Productes que no compleixen amb les especificacions anunciades.</li>
  </ul>
  <p>Si experimenteu algun d'aquests problemes, contacteu-nos immediatament i estarem encantats d'ajudar-lo a resoldre'l.</p>

  <h2>Devolucions</h2>
  <p>Entenem que de vegades els productes poden no complir les seves expectatives. Per tant, oferim una política de devolució sense complicacions. Si no esteu satisfet amb la vostra compra, podeu tornar el producte en el vostre estat original dins dels 30 dies posteriors a la compra. Us reemborsarem el preu de compra o us oferirem un reemplaçament, segons la vostra preferència.</p>
  <p>Per iniciar un procés de devolució, poseu-vos en contacte amb el nostre servei d'atenció al client i us proporcionaran instruccions detallades.</p>

  <p>Gràcies per triar la nostra botiga. Estem compromesos a brindar-li la millor experiència de compra possible.</p>
</div>

<!--FOOTER-->
<app-footer></app-footer>

