<app-menu></app-menu>
<div id="body2">
  <h2>Productos en la Cesta</h2>
  <div *ngFor="let producto of productosEnCarrito">
    <p>
      {{ producto.nombre }} - Cantidad: {{ producto.cantidad }} - Precio: {{ producto.precio * producto.cantidad }} €
      <!-- Botones para retirar o disminuir la cantidad -->
      <button (click)="disminuirCantidad(producto)">Disminuir cantidad</button>
      <button (click)="retirarDelCarrito(producto)">Retirar del carrito</button>
    </p>
  </div>
</div>
<app-footer></app-footer>
